$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@font-face {
    font-family: Lighthouse;
    src: url(fonts/Lighthouse.ttf);
}

$fg-primary: #800000;    // Maroon
$fg-secondary: #8B3A3A;  // Red Indian 4
$bg-primary: #fff0f5;    // Lavender Blush
$bg-secondary: #e5e5e5;  // Light Gray
$bg-ternary: #FFF;       // White

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: $bg-primary;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    font-weight: bold;
    color: $fg-secondary;
    border-bottom: 1px dotted #ba0000;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid $bg-secondary;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid $bg-secondary;
}

#logo {
    width: auto;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/* Jumbotron-like explanatory section. */
#main {
    background-image: url(../images/Heart.png);
    background-size: 20px 10px;
    border-bottom: 1px solid $bg-secondary;
    text-align: center;
    h1 {
        font-family: Lighthouse;
        color: $fg-primary;
    }

    p {
        margin: 0 5% 10px;
        color: $fg-secondary;
    }
}

/* Form */
label {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: $fg-primary;
}

.error {
    color: red;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
