<div class="header">
  <h3 class="text-muted">Tech@NYU</h3>
</div>

<div id="main">
  <h1>#Hack V-Day</h1>
  <p class="lead">
    Send a rose or chocolate to your special someone this Valentines Day!
  </p>
</div>

<form name="deliveryForm" novalidate role="form">
  <div class="form-group">
    <label>His/Her name</label>
    <input type="text" name="recipient" class="form-control" placeholder="Enter his/her name"
        ng-model="delivery.recipient" required>
  </div>

  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control" rows="3" ng-model="delivery.message" required></textarea>
  </div>

  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control" placeholder="Enter your name" ng-model="delivery.sender">
  </div>

  <div class="form-group">
    <label>Your phone number</label>
    <input type="text" class="form-control" placeholder="XXX XXX-XXXX"
        ng-model="delivery.phoneNumber">
    <span class="help-block">We only use your phone number to send you delivery status.</span>
  </div>

  <div class="form-group">
    <label for="destination">Destination</label>
    <select class="form-control" ng-model="delivery.dorm" ng-options="dorm for dorm in dorms"></select>

    <label for="destination">Room Number</label>
    <input type="text" class="form-control" placeholder="Enter room" ng-model="delivery.roomNumber">
  </div>
  <button type="submit" ng-click="addDelivery()" class="btn btn-default">Send!</button>
</form>

<div class="footer">
  <p>♥ from Tech@NYU</p>
</div>
