<div id="top" class="header">
  <img id="logo" src="../images/tech_at_nyu_logo.png" class="img-responsive" alt="Tech@NYU"/>
</div>

<div id="main">
  <h1>#Hack V-Day</h1>
  <p>
    Send a free rose and handwritten message to your special someone this
    Valentine's Day. Brought to you by your friends at Tech@NYU.
  </p>
  <p>
     <b>*Only NYU dorms are supported<b>
  </p>
</div>

<form name="deliveryForm" novalidate role="form">
  <div class="form-group">
    <label>His/Her name</label>
    <input type="text" name="recipient" class="form-control" placeholder="Enter his/her name"
        ng-model="delivery.recipient" required>
    <span class="error" ng-show="deliveryForm.recipient.$dirty && deliveryForm.recipient.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Message</label>
    <textarea name="message" class="form-control" rows="3" placeholder="You make me feel special."
        ng-model="delivery.message" required></textarea>
    <span class="error" ng-show="deliveryForm.message.$dirty && deliveryForm.message.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Your name</label>
    <input type="text" name="sender" class="form-control" placeholder="Enter your name"
        ng-model="delivery.sender" required>
    <span class="error" ng-show="deliveryForm.sender.$dirty && deliveryForm.sender.$error.required">Required!</span>
  </div>

  <div class="form-group">
    <label>Your phone number</label>
    <input type="number" name="phoneNumber" class="form-control" placeholder="XXXXXXXXXX"
        ng-pattern="phoneValidation" ng-model="delivery.phoneNumber" required>
    <span class="error" ng-show="deliveryForm.phoneNumber.$dirty && deliveryForm.phoneNumber.$error.required">Required!</span>
    <span class="error" ng-show="deliveryForm.phoneNumber.$dirty && deliveryForm.phoneNumber.$error.pattern">Invalid phone number!</span>
    <span class="help-block">We only use your phone number to send you delivery status.</span>
  </div>

  <div class="form-group">
    <label>Destination</label>
    <select name="dorm" class="form-control" ng-model="delivery.dorm" ng-options="dorm for dorm in dorms"
        required>
    </select>
    <span class="error" ng-show="deliveryForm.dorm.$dirty && deliveryForm.dorm.$error.required">Required!</span>
  </div>
  <div class="form-group">
    <label>Room Number</label>
    <input type="text" name="roomNumber" class="form-control" placeholder="Enter room number"
        ng-model="delivery.roomNumber" required>
    <span class="error" ng-show="deliveryForm.roomNumber.$dirty && deliveryForm.roomNumber.$error.required">Required!</span>
  </div>
  <button type="submit" ng-click="deliveryForm.$valid && addDelivery()" class="btn btn-default">Send!</button>
</form>

<div class="footer">
  <p>♥ Happy Valentine's Day from Tech@NYU</p>
</div>
