<div id="top" class="header">
  <img id="logo" ng-src="/images/tech_at_nyu_logo.png" class="img-responsive" alt="Tech@NYU"/>
</div>

<div id="main">
  <h1>Thank you {{sender}}</h1>
  <p>
    Thanks for making Valentine's Day special for {{recipient}}. You should
    receive a confirmation text shortly.
  </p>
  <p>
    Tech@NYU will deliver your Valentine's gram on Friday. Thank you for
    participating. Be sure to <a href="http://techatnyu.org/">check out our
    website</a> for upcoming events.
  </p>
  <br />
  <p>
    Made with ♥ by Abhi Agarwhal ('16), Bob Gardner ('16), and Jenny Liang
    ('16).
  </p>
</div>

<div class="footer">
  <p>♥ Happy Valentine's Day from Tech@NYU</p>
</div>
